################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
*.aux
/_minted-ugly_thesis_main
/_minted-pretty_thesis_main
*.log
*.bbl
*.bcf
*.blg
*.loe
*.lof
*.lot
*.out
/pretty_thesis_main.run.xml
/pretty_thesis_main.synctex.gz
/ugly_thesis_main.run.xml
/ugly_thesis_main.synctex.gz
*.toc
